body {
  display: flex;
  padding-left: 3%;
  margin: 0px;
  min-height: 100vh;
  font-family: "EB Garamond", serif;
  background-color: #fff0ce;
}


h1 {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  position: absolute;
}

#typed-text {
  color: #a94c74;
  /* Highlight color for dynamic words */
}

/* Blinking cursor effect */
.cursor {
  display: inline-block;
  background-color: #a94c74;
  width: 3px;
  margin-left: 4px;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    background-color: #a94c74;
  }

  49% {
    background-color: #a94c74;
  }

  50% {
    background-color: transparent;
  }

  100% {
    background-color: transparent;
  }
}


.tagline {
  font-size: 2rem;
  position: absolute;
  top: 100px;

}


.tabs {
  display: flex;
  flex-direction: row;
  gap: 30px;
  position: absolute;
  top: 170px;
}

.tabs>*:hover {
  color: #a94c74;
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-thickness: 2px;
}