body {
  display: flex;
  margin: 0px;
  min-height: 100vh;
  font-family: "EB Garamond", serif;
  background-color: #fff0ce;
  padding-left: 200px;
  padding-right: 200px;
}

nav {
  list-style-type: none;
  padding: 0;
  margin: none;
}

a {
  text-decoration: none;
  color: inherit;
}


#h {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  width: 500px;
  height: 50px;
  padding-top: 50px;
  padding-bottom: 20px;
}

#typed-text {
  color: #a94c74;
  /* Highlight color for dynamic words */
}

/* Blinking cursor effect */
.cursor {
  display: inline-block;
  background-color: #a94c74;
  width: 3px;
  margin-left: 4px;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    background-color: #a94c74;
  }

  49% {
    background-color: #a94c74;
  }

  50% {
    background-color: transparent;
  }

  100% {
    background-color: transparent;
  }
}


.tabs {
  display: flex;
  flex-direction: row;
  gap: 30px;
  font-size: 1rem;
  align-items: center;
}

.tabs>*:hover {
  color: #a94c74;
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-thickness: 2px;
}

.intro {
  font-size: 20px;
  display: flex;
  align-self: center;
}

.header {
  display: flex;
  flex-direction: row;
  gap: 200px;
}


.name {
  display: flex;
  flex-direction: column;
}

.home_page {
  display: flex;
  flex-direction: column;
  gap: 40px;
}


.tagline {
  font-size: 1.7rem;
}

.icon {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  width: 18px;
  height: 20px;
}

#currently {
  font-style: italic;
}

.contact {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  align-self: center;
}


.contact>*:hover {
  filter: invert(36%) sepia(38%) saturate(695%) hue-rotate(282deg) brightness(98%) contrast(98%);
}

.logo {
  width: 50px;
  height: 50px;
}

.made {
  padding-top: 35px;
}

#cv {
  width: 45px;
  height: 45px;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);

}


#home {
  color: #a94c74
}

#about {
  color: #a94c74
}

#projects {
  color: #a94c74
}

#blog {
  color: #a94c74
}

#art {
  color: #a94c74
}